@mixin title-headline {
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
    @include respond-to(small-screens) { 
        font-size: 2.5rem;
    }
    @include respond-to(handhelds) { 
        font-size: 2rem;
    }
}