@mixin title-headline {
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
    @include respond-to(small-screens) {
        font-size: 2.5rem;
    }
}

@mixin backgroundcolor-animator($colors) {

    @for $i from 1 through length($colors) {

    }

}
