@mixin title-headline {
    font-family: $font-family-title;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
    @include respond-to(small-screens) {
        font-size: 2.5rem;
    }
}

@mixin background-color-animator($colors, $time, $repeat: infinite, $easing: ease) {
    @include keyframes (color-animator) {
        @for $i from 1 through length($colors) {
            #{(($i - 1) / length($colors)) * 100}% {
                background: #{nth($colors, $i)}
            }
        }
        100% {
            background: nth($colors, 1);
        }
    }
    @include animation (color-animator #{$time * length($colors)}s $repeat $easing);
}
