@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: 320px) { @content; }
    }
    @else if $media == small-screens {
        @media only screen and (min-width: 321px) and (max-width: 640px) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: 641px) and (max-width: 800px) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: 800px) { @content; }
    }
}