{
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "camelcase": [2, {"properties": "always"}],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "jsx-quotes": [1, "prefer-single"],
    "react/display-name": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-indent-props": [1, 4],
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-deprecated": [1, {"react": "0.14.0"}],
    "react/no-did-mount-set-state": [1, "allow-in-func"],
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": [1, { "ignore": ["children", "className"]}],
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ]
}
