.env
node_modules
npm-debug.log
coverage
public
.gatsby-context.js

styles/fonts/tanek
styles/fonts/tiempos

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
