.env
.cache/
node_modules
npm-debug.log
coverage
public
.gatsby-context.js
*.sublime-workspace
images
videos

static/images
static/videos
styles/fonts/tanek
styles/fonts/tiempos
src/styles/fonts/tanek
src/styles/fonts/tiempos

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
