@mixin art-direction($color) {
  $dark: mix($black-00, $color, 75);
  $light: mix($white, $color, 50);

  color: $dark;

  a {
    color: mix($black-00, $color, 50);
  }

  .main-nav {
    background: $color;
  }

  .footer-wrapper {
    background: $dark;

    a {
      color: $light;
    }
  }
}

.green {
  @include art-direction(#D9F1C1);
}

.blue {
  @include art-direction(#B5EDFF);
}

.pink{
  @include art-direction(#EFD6F1);
}

.orange {
  @include art-direction(#FFC6A6);
}
