.page-wrapper {
  background: $white;
  min-height: 100vh;
  display: inline-block;
  width: 100%;
}

.page-transition-enter {
  opacity: 0.01;
  transition: opacity 0.1s ease-in;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}

.page-transition-leave {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}

.content-wrapper {
  margin: 60px auto 20px;
  background: $white;
  display: inline-block;
  width: 100%;
  position: relative;

  .page-title {
    font-size: 48px;
    font-family: $font-family-title;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0.75em 0 0.5em;
    @media (max-width: 48em) {
      font-size: 32px;
    }
  }

  .sub-title {
    font-size: 18px;
    font-family: $font-family-title;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
  }

  .no-bullet-list {
    list-style: none;
    padding-left: 0;
  }

  .module {
    margin: 0.5em 0;
  }
}

.content-container {
  max-width: 960px;
  margin: auto;
  padding: 0 15px;
}

.footer-wrapper {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $white;

  .footer-inner {
    padding: 15px;
    text-align: center;
  }
}

.about-photo {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: transparent url('/images/shaky.gif') 50% 50% no-repeat;
  background-size: cover;
}

.portfolio-carousel {
  background: radial-gradient(ellipse at center, rgba(182, 231, 221, 0.75) 0%,#040c28 100%);
}

.flat-input {
  background: transparent;
  border: none;
  border-radius: 0;
  font-family: inherit;
  padding: 5px 5px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  color: $white;
  font-size: 20px;
  outline: none;
  width: 100%;

  &:active,
  &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 1);
      padding-bottom: 5px;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.75);
  }

  &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.8);
  }

  &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(255, 255, 255, 0.8);
  }

  &:-moz-placeholder { /* Firefox 18- */
      color: rgba(255, 255, 255, 0.8);
  }
}

.flat-button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 20px;
  border-radius: 2px;
  padding: 3px 10px;
  color: $white;
  margin-left: 10px;
  outline: none;

  &:hover,
  &:active {
      background: rgba(255, 255, 255, 0.2);
  }
}
