.page-wrapper {
  background: $white;
  min-height: 100vh;
  display: inline-block;
  width: 100%;
}

.content-wrapper {
  margin: 60px auto 55px;
  background: #fff;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 10;
}

.content-container {
  max-width: 960px;
  margin: auto;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #1a1a1a; // @todo: move to art-direction
  color: #fff;
  padding: 20px;
}

.about-photo {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: transparent url('/images/blue-ish.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.flat-input {
  background: transparent;
  border: none;
  border-radius: 0;
  font-family: inherit;
  padding: 5px 5px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  color: #fff;
  font-size: 20px;
  outline: none;
  width: 100%;

  &:active,
  &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 1);
      padding-bottom: 5px;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.75);
  }

  &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.8);
  }

  &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(255, 255, 255, 0.8);
  }

  &:-moz-placeholder { /* Firefox 18- */
      color: rgba(255, 255, 255, 0.8);
  }
}

.flat-button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 20px;
  border-radius: 2px;
  padding: 3px 10px;
  color: #fff;
  margin-left: 10px;
  outline: none;

  &:hover,
  &:active {
      background: rgba(255, 255, 255, 0.2);
  }
}
