.page-wrapper {
  background: $white;
  min-height: 100vh;
  display: inline-block;
  width: 100%;
}

.content-wrapper {
  max-width: 960px;
  margin: 60px auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.flat-input {
  background: transparent;
  border: none;
  border-radius: 0;
  font-family: inherit;
  padding: 5px 5px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  color: #fff;
  font-size: 20px;
  outline: none;
  width: 100%;

  &:active,
  &:hover {
      border-bottom: 2px solid rgba(255, 255, 255, 1);
      padding-bottom: 5px;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.75);
  }

  &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.8);
  }

  &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(255, 255, 255, 0.8);
  }

  &:-moz-placeholder { /* Firefox 18- */
      color: rgba(255, 255, 255, 0.8);
  }
}

.flat-button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 20px;
  border-radius: 2px;
  padding: 3px 10px;
  color: #fff;
  margin-left: 10px;
  outline: none;

  &:hover,
  &:active {
      background: rgba(255, 255, 255, 0.2);
  }
}
