$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: "tiempos-regular", Times, Georgia, sans-serif;
$font-family-serif-headline: "tiempos-head-semibold", Times, Georgia, sans-serif;
$font-family-title: 'tanek', Helvetica, Arial, sans-serif;

$z-index-hidden: -1;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;
$z-index-7: 70;
$z-index-8: 80;
$z-index-9: 90;
$z-index-10: 100;
$z-index-max: 90210; // This is max, Donna said so.

// Colors
$white: #fff;
$black-00: #000;

$min-width-sm: 768px;
