@import "variables/index";

@mixin art-direction($color) {
  $dark: mix($black, $color, 75);
  $light: mix($white, $color, 50);

  color: $dark;

  .content-wrapper,
  .page-footer {
    a {
      color: mix($black, $color, 50);
      transition: all 0.2s ease;

      &:hover {
        color: mix($black, $color, 75);
      }
    }
  }

  .highlight {
    background: $light;
  }

  .main-nav {
    background: $color;
  }

  .nav-logo {
    background: mix($black, $color, 10);
  }

  &.index .nav-logo {
    background: $color;
  }

  .footer-wrapper {
    background: $dark;

    a {
      color: $light;
    }
  }

  .radio-toggles--binary
    .radio-toggle:nth-child(1)
    input:checked
    ~ .radio-toggle-text:before {
    background: $color;
  }
}

@mixin art-direction-dark($color) {
  $body: mix($black, $color, 85);
  $dark: mix($black, $color, 90);
  $light: mix($white, $color, 50);

  color: $light;
  background: $palenight;

  .dark-mode,
  .page-wrapper {
    background: $palenight;
    color: $white;
  }

  .content-wrapper,
  .page-footer {
    background: $palenight;
    color: $white;

    a {
      color: mix($black, $color, 25);
      transition: all 0.2s ease;

      &:hover {
        color: mix($white, $color, 50);
      }
    }
  }

  .highlight {
    background: mix($black, $color, 70);
  }

  a.highlight {
    background: mix($black, $color, 80);
  }

  .main-nav {
    background: $dark;

    .nav-item {
      border-top-color: rgba($white, 0.03);
    }
  }

  .nav-logo {
    background: mix($black, $color, 95);
  }

  &.index .nav-logo {
    background: $dark;
  }

  .radio-toggles--binary {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.05);
  }
  .radio-toggles--binary
    .radio-toggle:nth-child(2)
    input:checked
    ~ .radio-toggle-text:before {
    background: $color;
  }
}

.green {
  @include art-direction($green);
}

.blue {
  @include art-direction($blue);
}

.pink {
  @include art-direction($pink);
}

.orange {
  @include art-direction($orange);
}

.salmon {
  @include art-direction($salmon);
}

.purple {
  @include art-direction($purple);
}

.dark-mode {
  @include art-direction-dark($pink);
}
