.page-wrapper {
  background: $white;
  min-height: 100vh;
  display: inline-block;
  width: 100%;
}

.page-transition {

  &-enter {
    opacity: 0.01;
    transition: opacity 0.1s ease-in;

    &-active {
      opacity: 1
    }
  }

  &-leave {
    opacity: 1;
    transition: opacity 0.1s ease-in;

    &-active {
      opacity: 0;
    }
  }
}

.content-wrapper {
  margin: 60px auto 20px;
  background: $white;
  display: inline-block;
  width: 100%;
  position: relative;

  .page-title {
    font-size: 32px;
    font-family: $font-family-title;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 0 0.25em;

    &:after {
      content: '';
      width: 40px;
      border-bottom: 4px solid;
      display: block;
      margin-top: 0.25em;
    }

    @media (min-width: $min-width-sm) {
      font-size: 48px;
    }
  }

  .sub-title {
    font-size: 20px;
    font-family: $font-family-title;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;

    @media (min-width: $min-width-sm) {
      font-size: 24px;
    }
  }

  .no-bullet-list {
    list-style: none;
    padding-left: 0;
  }

  .module {
    margin: 0.5em 0;
  }
}

.content-container {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 15px;
}

.footer-wrapper {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $white;

  .footer-inner {
    padding: 15px;
    text-align: center;
  }
}

.portfolio-carousel {
  background: radial-gradient(ellipse at center, rgba(182, 231, 221, 0.75) 0%, #040c28 100%);


  .slider-slide > img {
    max-width: 740px;
    margin: auto;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .video-player {
    margin: auto;
    display: block;
    max-width: 540px;
    height: auto;
    width: 100%;
    box-shadow: 0 0 40px 5px;
  }
}
