.page-wrapper {
  background: $white;
  min-height: 100vh;

  .show-nav &,
  .index & {
    overflow: hidden;
  }
}

.page-transition {
  &-enter {
    opacity: 0.01;
    transition: opacity 0.1s ease-in;

    &-active {
      opacity: 1;
    }
  }

  &-leave {
    opacity: 1;
    transition: opacity 0.1s ease-in;

    &-active {
      opacity: 0;
    }
  }
}

.content-wrapper {
  margin: 0 auto 20px;
  background: $white;
  display: inline-block;
  width: 100%;
  position: relative;

  .page-title {
    font-size: 32px;
    font-family: $font-family-title;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 0 0.25em;

    &:after {
      content: "";
      width: 40px;
      border-bottom: 4px solid;
      display: block;
      margin-top: 0.25em;
    }

    @media (min-width: $min-width-sm) {
      font-size: 48px;
    }
  }

  .page-title + p {
    margin-top: 1.5em;
  }

  .sub-title {
    font-size: 20px;
    font-family: $font-family-title;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;

    @media (min-width: $min-width-sm) {
      font-size: 24px;
    }
  }

  .no-bullet-list {
    list-style: none;
    padding-left: 0;
  }

  .module {
    margin: 0.5em 0;
  }
}

.content-container {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 15px;
}

.footer-wrapper {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $white;

  .footer-inner {
    padding: 15px;
    text-align: center;
  }
}
