@font-face {
    font-family: 'tanek-krisregular';
    src: url('../fonts/tanek-kris-webfont.eot');
    src: url('../fonts/tanek-kris-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tanek-kris-webfont.woff2') format('woff2'),
         url('../fonts/tanek-kris-webfont.woff') format('woff'),
         url('../fonts/tanek-kris-webfont.ttf') format('truetype'),
         url('../fonts/tanek-kris-webfont.svg#tanek-krisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}