.main-nav {
    background-color: #D9F1C1;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease, height 0.3s ease, background-color 1s ease;
    overflow: hidden;
    z-index: $z-index-max;
    display: flex;
    flex-flow: column nowrap;

    &.home {
        height: 50vh;
        transform: translate3d(0, 100%, 0);

        .nav-item {
            font-size: 3rem;
            position: relative;
            visibility: visible;
            pointer-events: all;
            opacity: 1;
            flex: 1 0 auto;

            .text {
                margin-top: 4px;
            }
        }
    }

    &.about {
        background-color: #B5EDFF;
    }

    &.show-nav {
        height: 100vh;

        .nav-item {
            height: 60px;
            position: relative;
            visibility: visible;
            pointer-events: all;
            opacity: 1;
            transition: opacity 0.2s ease, transform 0.2s ease;

            &.active {
                border-bottom-color: rgba(255, 255, 255, 0.5);
            }

            &:not(.active) {

                .text {
                    @include transform(scale(0.9) translate3d(-40%, -40%, 0));
                    opacity: 0;
                    @include animation(items-in 0.2s ease-out forwards);
                }

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) .text {
                        @include animation-delay(0.05s * $i);
                    }
                }

            }
        }
    }

    .nav-item {
        position: absolute;
        line-height: 1;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        width: 100%;
        font-family: $font-family-title;
        text-decoration: none;
        visibility: hidden;
        pointer-events: none;
        display: block;
        opacity: 0;
        order: 1;
        min-height: 60px;

        &.active {
            visibility: visible;
            pointer-events: all;
            opacity: 1;
            order: 0;
            border-bottom-color: transparent;
        }

        .text {
            position: absolute;
            top: 50%;
            line-height: 1;
            left: 50%;
            margin-top: 2px;
            //text-shadow: 2px 2px rgba(0, 0, 0, 0.02);
            @include transform(scale(1) translate3d(-50%, -50%, 0));
        }
    }
}

@include keyframes(items-in) {
    from {
        @include transform(scale(0.9) translate3d(-40%, -40%, 0));
        opacity: 0;
    }

    to {
        @include transform(scale(1) translate3d(-50%, -50%, 0));
        opacity: 1;
    }
}
