.resume {
    font-family: $resume-font;
    margin: 2em auto;
    max-width: 800px;
    padding: 1px 0 0;
}

.masthead {
    margin: 2em 0;
    @include respond-to(wide-screens) { 
        display: table;
        width: 100%;
    }
    @include respond-to(handhelds) { 
        margin: 0 0 2em;
    }
}

.title-wrapper {
    @include respond-to(wide-screens) { 
        display: table-cell;
        width: 60%;
    }

    .title {
        @include title-headline();
        display: inline-block;
        margin: 0;
        line-height: 1;
    }

    .sub-title {
        font-size: 1.5em;
        font-style: italic;
        margin: 0.5em 0;
    }
}

.contact-wrapper {
    margin: 1em 0 0;
    @include respond-to(wide-screens) { 
        display: table-cell;
        width: 40%;
        text-align: right;
        vertical-align: top;
    }
}

.summary-wrapper {
    font-style: italic;
    border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
    padding: 1em;
    margin: 3em 0 1.5em;

    .summary {
        margin: 0;
    }
}

.section-header {
    float: left;
    width: 220px;
}

.section-content {
    float: right;
}