.content {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    position: relative;
    max-width: 960px;
    min-width: 270px;
    @include respond-to(handhelds) {
        padding: 0 10px;
    }
}

.highlight {
    background-color: #f9f6ae;
}

.highlight-italic {
    @extend .highlight;
    font-style: italic;
}

.highlight-link {
    @extend .highlight;
    color: $dark-text;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px dotted #B8860B;
    @include transition (background 0.1s ease);

    &:hover {
        background: transparent;
        border-bottom-style: solid;
    }
}

.block-link {
    background: $dark-bg;
    color: #fff;
    text-decoration: none;
    padding: 0 0.1em;

    &:hover {
        background: transparent;
        color: $dark-text;
    }
}
