.content {
    margin-left: auto;
    margin-right: auto;
    padding: 1px 20px;
    position: relative;
    z-index: 2;
    max-width: 960px;
    min-width: 270px;
}

.highlight {
    background-color: #f9f6ae;
}

.link-highlight {
    @extend .highlight;
    color: $dark-text;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px dotted #B8860B;
}