$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: "tiempos-regular", Times, Georgia, sans-serif;
$font-family-serif-headline: "tiempos-head-semibold", Times, Georgia, sans-serif;
$font-family-title: 'tanek', Helvetica, Arial, sans-serif;

$font-size-nav: 32px;
