$base-name: ".device-frame";
#{$base-name} {
  box-shadow: 0 2px 30px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 1000px;
  transition: all 0.2s ease;

  &-header {
    height: 4vw;
    max-height: 36px;
    background: #e6e6e6;
    border-radius: 2px 2px 0 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
    position: relative;
  }

  &-controls {
    line-height: 0;
    margin-left: 0.25vw;
  }

  &-control {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: #ddd;
    display: inline-block;
    margin-left: 0.5vw;
    max-width: 10px;
    max-height: 10px;

    &--close {
      background: #ff7f50;
    }

    &--minimize {
      background: #c6c02c;
    }

    &--fullscreen {
      background: #48b79e;
    }
  }

  &-body {
    overflow: auto;
  }

  // Variations.
  &--phone {
    max-width: 320px;
    overflow: hidden;
    border-radius: 3.4vw;
    background: #111;
    padding: 0.5vw;

    @media (min-width: 1200px) {
      padding: 4px;
      border-radius: 34px;
    }

    #{$base-name} {
      &-header {
        max-height: 40px;
        background: inherit;

        &:after {
          content: "";
          width: 4vw;
          max-width: 40px;
          height: 0.4vw;
          border-radius: 0.2vw;
          background: #333;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-controls {
        display: none;
      }

      &-body {
        border-radius: 0 0 3vw 3vw;

        @media (min-width: 1200px) {
          border-radius: 0 0 30px 30px;
        }
      }
    }
  }

  &--phone--light {
    @extend #{$base-name}--phone;
    background: #efefef;

    #{$base-name}-header {
      &:after {
        background: #ddd;
      }
    }
  }

  // Variations.
  &--tablet {
    max-width: 768px;
    overflow: hidden;
    border-radius: 34px;
    background: #fff;
    padding: 5px;

    #{$base-name} {
      &-header {
        height: 50px;
        max-height: initial;
        background: inherit;

        &:after {
          content: "";
          width: 40px;
          height: 4px;
          border-radius: 2px;
          background: #eee;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-controls {
        display: none;
      }

      &-footer {
        position: relative;
        height: 49px;

        &:after {
          content: "";
          background: #eee;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
