.portfolio-items {
  margin-top: 20px;
}

.portfolio-item {
  &-link {
    display: block;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;

    .image-loader {
      transition: all 0.1s ease;
    }

    &:hover,
    &:focus {
      .portfolio-item-text {
        top: calc(50% - 15px);
        transform: translate3d(-50%, -50%, 0);
      }

      .image-loader {
        filter: blur(2px);
        transform: scale(0.95);
      }
    }
  }

  &-image {
    display: block;
    box-shadow: 0 0 1px 1px rgba($black, 0.05);
    border-radius: 2px;
  }

  &-text {
    display: block;
    color: $blackish;
    text-align: center;
    background: $white;
    position: absolute;
    font-family: $font-family-title;
    text-transform: uppercase;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    padding: 3px 15px 0;
    top: calc(100% - 20px);
    transition: all 0.2s ease;
    pointer-events: none;
  }
}

.portfolio-media-row {
  display: flex;
  background: $lighter-gray;

  &--dark {
    background: $black-matte;
  }

  &--no-padding {
    padding: 0;
  }
}

.portfolio-media-item {
  width: 100%;
  padding: 50px;

  &--phone {
    max-width: 320px;
    filter: drop-shadow(0 2px 10px rgba($blackish, 0.1));
    margin: auto;
  }
}

.load-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 500ms, transform 500ms;
  will-change: opacity, transform;

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}

.portfolio-carousel {
  min-height: 50vh;

  .slider-slide {
    display: inline-flex !important; // overwrite
    align-items: center;
    justify-content: space-around;
  }

  .slider-slide .image-loader {
    max-width: 740px;
    margin: auto;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 20px;
  }

  .video-player {
    margin: auto;
    display: block;
    max-width: 700px;
    height: auto;
    width: 100%;
  }
}
