@import 'styles/structure/variables';

.main-nav {
  background-color: #D9F1C1;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: transform 0.3s ease, height 0.3s ease, background-color 1s ease;
  z-index: $z-index-max;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  .nav-logo {
    display: none;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    position: relative;
  }

  .nav-logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .svg-mark {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    fill: $white;
    stroke: $white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.02);
    // transform: rotate(-18deg); // Do the transform on the group instead -- pushes outside of container otherwise.
  }

  &.index,
  &.show-nav {
    height: 100vh;
    overflow: auto;

    .nav-logo {
      display: flex;
    }

    .nav-item {
      font-size: 48px; // Fallback.
      font-size: 13vmin; // Adjust max of this with media queries
      position: relative;
      visibility: visible;
      pointer-events: all;
      opacity: 1;
      flex: 0.5 0 auto; // Set logo to flex-grow: 1.

      @media (min-height: 800px) and (min-width: 800px) {
        font-size: 104px;
      }

      &.close {
        display: none;
      }
    }
  }

  &.show-nav {

    .nav-item {
      //font-size: 48px; // Fallback.
      //font-size: 10vmin; // Adjust min and max of this with media queries
      max-height: 150px;

      @media (min-height: 800px) and (min-width: 800px) {
        font-size: 80px;
      }

      @media (max-height: 400px) {
        font-size: 32px;
      }

      &.active {
          border-bottom-color: rgba(255, 255, 255, 0.25);
      }

      &:not(.active) {
        .text {
          transform: scale(0.9) translate3d(-40%, -40%, 0);
          opacity: 0;
          animation: items-in 0.2s ease-out forwards;
        }

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) .text {
            animation-delay: (0.05s * $i);
          }
        }
      }

      &.close {
        display: flex;
        @media (max-height: 400px) {
          transform: scale(0.75);
        }
      }
    }

    .nav-logo {
      display: none;
    }
  }

  // Collapsed state.
  .nav-item {
    position: absolute;
    line-height: 1;
    text-align: center;
    color: $white;
    font-size: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    width: 100%;
    font-family: $font-family-title;
    text-decoration: none;
    visibility: hidden;
    pointer-events: none;
    display: block;
    opacity: 0;
    order: 1;
    min-height: 60px;
    overflow: hidden;

    &.active {
      visibility: visible;
      pointer-events: all;
      opacity: 1;
      order: 0;
      border-top-color: transparent;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
    }

    &.close {
      flex-grow: 1;
      max-height: 100vh;
    }

    .text {
      position: absolute;
      top: 50%;
      line-height: 1;
      left: 50%;
      margin-top: 2px;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.02);
      transform: scale(1) translate3d(-50%, -50%, 0);
    }

    .close-btn {
      $closeBtnSize: 40px;
      position: absolute;
      left: 50%;
      margin-left: -20px;
      bottom: 0;
      padding-bottom: 10px;
      cursor: pointer;
      width: $closeBtnSize;
      height: $closeBtnSize;

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 17px; //($closeBtnSize / 2);
        transform: rotate(45deg) translateX(0) translateY(0);
        width: 5px;
        height: $closeBtnSize;
        background: $white;
        display: block;
        transition: all 150ms ease-in;
      }

      &:before {
        transform: rotate(-45deg) translateX(0) translateY(0);
      }

      &:hover {
        &:after {
          transform: rotate(45deg) translateX(3px) translateY(10px);
          width: 5px;
          height: ($closeBtnSize / 2);
          transition: all 150ms ease-in;
        }

        &:before {
          transform: rotate(-45deg) translateX(-2px) translateY(11px);
          width: 5px;
          height: ($closeBtnSize / 2);
          transition: all 150ms ease-in;
        }
      }
    }
  }
}

@keyframes(items-in) {
  from {
    transform: scale(0.9) translate3d(-40%, -40%, 0);
    opacity: 0;
  }

  to {
    transform: scale(1) translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}
