$white: #ffffff;
$black: #000000;
$blackish: #111111;
$black-matte: #2b2b2b;
$green: #d9f1c1;
$blue: #b5edff;
$pink: #efd6f1;
$orange: #ffc6a6;
$salmon: #ffb5b5;
$yellow: #fffab5;
$purple: #d3c1f1;
$light-gray: #eeeeee;
$lighter-gray: #f8f8f8;
