@import 'styles/structure/variables';

.page-footer.content-container {
  margin-top: 30px;

  &:before {
    content: '';
    border-top: 2px solid #eee;
    display: block;
  }

  .footer-inner {
    padding: 40px 0;
  }
}
