@import "../../styles/structure/variables/index";

.page-footer.content-container {
  margin-top: 30px;

  &:before {
    content: "";
    border-top: 1px solid rgba($black, 0.1);
    display: block;

    .dark-mode & {
      border-top: 1px solid rgba($white, 0.1);
    }
  }

  .footer-inner {
    padding: 40px 0;
  }
}
