@import "../../styles/structure/variables/index";

.portfolio-items {
  margin-top: 20px;
}

.portfolio-item {
  &-image {
    display: block;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
  }

  &-text {
    display: block;
    color: $blackish;
    margin-top: 10px;
  }
}
